.container
  %h2 Orders
  .row
    .col-md-12
      %h3 In progress
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Created Date
            %th Total Summary
            %th Link
        %tbody
          - @in_progress.each do |order|
            =render 'orders/order_row', order: order, in_progress: true
      -if @in_progress.empty?
        %i No orders yet.

      %h3 In queue
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Created Date
            %th Total Summary
        %tbody
          - @in_queue.each do |order|
            =render 'orders/order_row', order: order, in_progress: false
      -if @in_queue.empty?
        %i No orders yet.

      %h3 In delivery
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Created Date
            %th Total Summary
        %tbody
          - @in_delivery.each do |order|
            =render 'orders/order_row', order: order, in_progress: false
      -if @in_delivery.empty?
        %i No orders yet.

      %h3 Delivered
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th Created Date
            %th Total Summary
        %tbody
          -@delivered.each do |order|
            =render 'orders/order_row', order: order, in_progress: false
      -if @delivered.empty?
        %i No orders yet.
