%section#index
  .container
    .row
      .col-md-8
        %h2 Books
        - @books.each.with_index do |book, i|
          .col-md-4
            %strong= book.title
            %p= book.desc
            %p= book.price
      .col-md-4
        %h2 Categories
        - @categories.each do |category|
          %p= category.name
