%section#index
  .container
    .row
      .col-md-8
        %h2 Books
        = render @books
        .row.page-pagination
          = paginate @books
      .col-md-4
        %h2 Categories
        = render @categories
