%h3.col-md-offset-1.col-md-2.step
  .step{class: (step == :address ? 'current' : '')} Address
%h3.col-md-2.step
  .step{class: (step == :shipment ? 'current' : '')} Shipment
%h3.col-md-2.step
  .step{class: (step == :payment ? 'current' : '')} Payment
%h3.col-md-2.step
  .step{class: (step == :confirm ? 'current' : '')} Confirm
%h3.col-md-2.step
  .step{class: (step == :complete ? 'current' : '')} Complete
